USE master;
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'CarRentalDB')
BEGIN
    CREATE DATABASE [CarRentalDB];
END
GO
USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ADDRESS_LINE] [nvarchar](255) NULL,
	[CITY] [nvarchar](100) NULL,
	[PROVINCE] [nvarchar](100) NULL,
	[POSTAL_CODE] [nvarchar](20) NULL,
	[COUNTRY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN_ACTION_LOG]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_ACTION_LOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMIN_ID] [int] NOT NULL,
	[ACTION] [nvarchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BOOKING_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_PROMOTION]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_PROMOTION](
	[BOOKING_ID] [int] NOT NULL,
	[PROMO_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC,
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[CAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[OWNER_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[MODEL] [nvarchar](100) NULL,
	[BRAND] [nvarchar](100) NULL,
	[YEAR] [int] NULL,
	[LICENSE_PLATE] [nvarchar](50) NOT NULL,
	[CAPACITY] [nvarchar](50) NULL,
	[TRANSMISSION] [nvarchar](50) NULL,
	[FUEL_TYPE] [nvarchar](50) NULL,
	[PRICE_PER_DAY] [decimal](10, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[AVAILABILITY] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_IMAGE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_IMAGE](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[IMAGE_URL] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TYPE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRIVER_LICENSE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVER_LICENSE](
	[LICENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LICENSE_NUMBER] [nvarchar](50) NOT NULL,
	[ISSUE_DATE] [date] NOT NULL,
	[EXPIRY_DATE] [date] NOT NULL,
	[IMAGE_URL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LICENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[MESSAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[SENDER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[SENT_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[RP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[PERMISSION_NAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[METHOD] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
	[PAID_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[PROMO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[DISCOUNT_RATE] [decimal](5, 2) NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[RATING] [int] NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_TICKET_REQUIREMENT]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT](
	[TICKET_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[SUBJECT] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[IS_EMAIL_VERIFIED] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 10/7/2025 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[PROFILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[GENDER] [nvarchar](10) NULL,
	[DRIVER_LICENSE_NUMBER] [nvarchar](50) NULL,
	[IS_VERIFIED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (1, 1, N'123 Lê L?i', N'Hà N?i', N'Hà N?i', N'10000', N'Vietnam')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (2, 2, N'45 Nguy?n Hu?', N'H? Chí Minh', N'H? Chí Minh', N'70000', N'Vietnam')
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[ADMIN_ACTION_LOG] ON 

INSERT [dbo].[ADMIN_ACTION_LOG] ([LOG_ID], [ADMIN_ID], [ACTION], [CREATED_AT]) VALUES (1, 1, N'Thêm m?i xe Fortuner', CAST(N'2025-10-07T00:53:04.153' AS DateTime))
INSERT [dbo].[ADMIN_ACTION_LOG] ([LOG_ID], [ADMIN_ID], [ACTION], [CREATED_AT]) VALUES (2, 1, N'Xác nh?n don d?t xe #1', CAST(N'2025-10-07T00:53:04.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[ADMIN_ACTION_LOG] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT]) VALUES (1, 1, 2, CAST(N'2025-10-10' AS Date), CAST(N'2025-10-15' AS Date), CAST(4000000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-10-07T00:45:17.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
GO
INSERT [dbo].[BOOKING_PROMOTION] ([BOOKING_ID], [PROMO_ID]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[CAR] ON 

INSERT [dbo].[CAR] ([CAR_ID], [OWNER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY]) VALUES (1, 1, 1, N'Toyota Vios', N'Toyota', 2021, N'30F-45678', N'5', N'Automatic', N'Gasoline', CAST(700000.00 AS Decimal(10, 2)), N'Xe sedan nh? g?n, ti?t ki?m xang', 1)
INSERT [dbo].[CAR] ([CAR_ID], [OWNER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY]) VALUES (2, 2, 2, N'Honda CR-V', N'Honda', 2022, N'51H-99876', N'7', N'Automatic', N'Gasoline', CAST(950000.00 AS Decimal(10, 2)), N'SUV r?ng rãi, phù h?p cho gia dình', 1)
INSERT [dbo].[CAR] ([CAR_ID], [OWNER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY]) VALUES (5, 11, 5, N'BMW M3', N'Blaze', 2023, N'73A-28283', N'3', N'manual', N'biofuel', CAST(1483834.00 AS Decimal(10, 2)), N'Xe th? thao hi?u su?t cao, thi?t k? nang d?ng và m?nh m?.', 0)
SET IDENTITY_INSERT [dbo].[CAR] OFF
GO
SET IDENTITY_INSERT [dbo].[CAR_TYPE] ON 

INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (1, N'SUV', N'Xe th? thao da d?ng')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (2, N'Sedan', N'Xe 4 ch? nh? g?n')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (3, N'Truck', N'Xe t?i nh?')
SET IDENTITY_INSERT [dbo].[CAR_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] ON 

INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [IMAGE_URL]) VALUES (1, 1, N'A123456789', CAST(N'2020-01-15' AS Date), CAST(N'2030-01-15' AS Date), N'https://example.com/license/user1.jpg')
INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [IMAGE_URL]) VALUES (2, 2, N'B987654321', CAST(N'2022-05-10' AS Date), CAST(N'2032-05-10' AS Date), N'https://example.com/license/user2.jpg')
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] OFF
GO
SET IDENTITY_INSERT [dbo].[MESSAGE] ON 

INSERT [dbo].[MESSAGE] ([MESSAGE_ID], [TICKET_ID], [SENDER_ID], [CONTENT], [SENT_AT]) VALUES (1, 1, 1, N'Xin chào, tôi c?n h? tr? thanh toán.', CAST(N'2025-10-07T00:52:16.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[MESSAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([RP_ID], [ROLE_ID], [PERMISSION_NAME]) VALUES (1, 1, N'New booking assigned')
INSERT [dbo].[NOTIFICATION] ([RP_ID], [ROLE_ID], [PERMISSION_NAME]) VALUES (2, 2, N'Booking confirmed')
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT]) VALUES (1, 1, CAST(4000000.00 AS Decimal(10, 2)), N'VNPay', N'Paid', CAST(N'2025-10-07T00:45:46.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PROMOTION] ON 

INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE]) VALUES (1, N'SUMMER24', N'Gi?m giá mùa hè', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date))
INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE]) VALUES (2, N'NEWUSER', N'Gi?m 15% cho ngu?i dùng m?i', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[PROMOTION] OFF
GO
SET IDENTITY_INSERT [dbo].[REVIEW] ON 

INSERT [dbo].[REVIEW] ([REVIEW_ID], [BOOKING_ID], [RATING], [COMMENT], [CREATED_AT]) VALUES (2, 1, 5, N'Xe t?t, ch? thân thi?n!', CAST(N'2025-10-07T00:45:33.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[REVIEW] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (1, N'Admin')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (3, N'Car Owner')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ON 

INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [SUBJECT], [DESCRIPTION], [STATUS], [CREATED_AT]) VALUES (1, 1, N'Không nh?n du?c xác nh?n thanh toán', N'Tôi dã thanh toán nhung chua th?y xác nh?n.', N'Open', CAST(N'2025-10-07T00:51:57.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT]) VALUES (1, 2, N'carowner@gmail.com', N'123456', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime))
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT]) VALUES (2, 1, N'admin@gmail.com', N'123456', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime))
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT]) VALUES (3, 3, N'customer@gmail.com', N'123456', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_PROFILE] ON 

INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED]) VALUES (1, 1, N'Admin User', N'0123456789', CAST(N'1990-01-01' AS Date), N'Male', N'29A12345', 0)
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED]) VALUES (2, 2, N'John Customer', N'0987654321', CAST(N'1995-03-15' AS Date), N'Male', N'51A23456', 0)
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED]) VALUES (3, 3, N'Anna Owner', N'0911222333', CAST(N'1992-07-22' AS Date), N'Female', N'19B45678', 0)
SET IDENTITY_INSERT [dbo].[USER_PROFILE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR__14ED5A9EC321C8A8]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[CAR] ADD UNIQUE NONCLUSTERED 
(
	[LICENSE_PLATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR_TYPE__D9C1FA00D2C2B5CB]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[CAR_TYPE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DRIVER_L__F3BEEBFEF89A3698]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[DRIVER_LICENSE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PAYMENT__C1EBE7B26334D945]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[PAYMENT] ADD UNIQUE NONCLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROMOTIO__AA1D437975D738A4]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[PROMOTION] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLE__D9C1FA001DA64C73]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[ROLE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__161CF7240CC2E726]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_PRO__F3BEEBFE77B4E300]    Script Date: 10/7/2025 11:08:13 PM ******/
ALTER TABLE [dbo].[USER_PROFILE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN_ACTION_LOG] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[CAR] ADD  DEFAULT ((1)) FOR [AVAILABILITY]
GO
ALTER TABLE [dbo].[MESSAGE] ADD  DEFAULT (getdate()) FOR [SENT_AT]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [PAID_AT]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] ADD  DEFAULT ('Open') FOR [STATUS]
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((0)) FOR [IS_EMAIL_VERIFIED]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER_PROFILE] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADMIN_ACTION_LOG]  WITH CHECK ADD FOREIGN KEY([ADMIN_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD FOREIGN KEY([PROMO_ID])
REFERENCES [dbo].[PROMOTION] ([PROMO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CAR_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CAR_IMAGE]  WITH CHECK ADD FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DRIVER_LICENSE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CHK_BOOKING_DATES] CHECK  (([END_DATE]>[START_DATE]))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CHK_BOOKING_DATES]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD CHECK  (([TOTAL_PRICE]>=(0)))
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD CHECK  (([PRICE_PER_DAY]>(0)))
GO
ALTER TABLE [dbo].[PROMOTION]  WITH CHECK ADD CHECK  (([DISCOUNT_RATE]>=(0) AND [DISCOUNT_RATE]<=(100)))
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
