USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ADDRESS_LINE] [nvarchar](255) NULL,
	[CITY] [nvarchar](100) NULL,
	[PROVINCE] [nvarchar](100) NULL,
	[POSTAL_CODE] [nvarchar](20) NULL,
	[COUNTRY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BOOKING_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[LOCATION] [nvarchar](255) NULL,
	[PICKUP_TIME] [time](7) NULL,
	[DROPOFF_TIME] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_PROMOTION]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_PROMOTION](
	[BOOKING_ID] [int] NOT NULL,
	[PROMO_ID] [int] NOT NULL,
	[DISCOUNT_AMOUNT] [decimal](18, 2) NULL,
	[FINAL_PRICE] [decimal](18, 2) NULL,
	[APPLIED_AT] [datetime] NULL,
	[STATUS] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC,
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[CAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[MODEL] [nvarchar](100) NULL,
	[BRAND] [nvarchar](100) NULL,
	[YEAR] [int] NULL,
	[LICENSE_PLATE] [nvarchar](50) NOT NULL,
	[CAPACITY] [nvarchar](50) NULL,
	[TRANSMISSION] [nvarchar](50) NULL,
	[FUEL_TYPE] [nvarchar](50) NULL,
	[PRICE_PER_DAY] [decimal](10, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[AVAILABILITY] [bit] NULL,
	[LOCATION] [nvarchar](255) NULL,
 CONSTRAINT [PK__CAR__7D16AF24C5036F06] PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_IMAGE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_IMAGE](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[IMAGE_URL] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TYPE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRIVER_LICENSE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVER_LICENSE](
	[LICENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LICENSE_NUMBER] [nvarchar](50) NOT NULL,
	[ISSUE_DATE] [date] NOT NULL,
	[EXPIRY_DATE] [date] NOT NULL,
	[FRONT_IMAGE_URL] [nvarchar](255) NULL,
	[BACK_IMAGE_URL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LICENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[MESSAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [int] NOT NULL,
	[SENDER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[SENT_AT] [datetime] NULL,
 CONSTRAINT [PK__MESSAGE__F610EE4466874368] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[NOTIFICATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[CONTENT] [nvarchar](500) NOT NULL,
	[LINK_URL] [varchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
	[IS_READ] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOTIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[METHOD] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
	[PAID_AT] [datetime] NULL,
	[PAYPAL_TRANSACTION_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[PROMO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[DISCOUNT_RATE] [decimal](5, 2) NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[DISCOUNT_TYPE] [varchar](10) NULL,
	[ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[RATING] [int] NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_TICKET_REQUIREMENT]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT](
	[TICKET_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[PHONE_NUMBER] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SUPPORT___7F5E71D68F7292D8] PRIMARY KEY CLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[IS_EMAIL_VERIFIED] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 11/8/2025 1:04:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[PROFILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[GENDER] [nvarchar](10) NULL,
	[DRIVER_LICENSE_NUMBER] [nvarchar](50) NULL,
	[IS_VERIFIED] [bit] NULL,
	[profileImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (1, 1, N'123 Lê L?i', N'Hà N?i', N'Hà N?i', N'10000', N'Vietnam')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (2, 2, N'45 Nguy?n Hu?', N'H? Chí Minh', N'H? Chí Minh', N'70000', N'Vietnam')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (3, 24, N'Hanoi', N'Ha Noi', N'Ha Noi', N'100000', N'Vietnam')
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (1, 1, 3, CAST(N'2025-12-25' AS Date), CAST(N'2025-12-28' AS Date), CAST(2100000.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-10-27T16:59:51.563' AS DateTime), N'12 Nguyen Van Bao Street, Go Vap District, Ho Chi Minh City, Vietnam', CAST(N'22:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (2, 2, 3, CAST(N'2025-12-20' AS Date), CAST(N'2025-12-28' AS Date), CAST(7600000.00 AS Decimal(10, 2)), N'Cancelled', CAST(N'2025-10-27T17:00:44.770' AS DateTime), N'45 Tran Hung Dao Street, Hoan Kiem District, Hanoi, Vietnam', CAST(N'21:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (4, 6, 3, CAST(N'2025-12-25' AS Date), CAST(N'2025-12-28' AS Date), CAST(4221561.00 AS Decimal(10, 2)), N'Cancelled', CAST(N'2025-10-27T23:16:23.313' AS DateTime), N'56 Bach Dang Street, Hai Chau District, Da Nang, Vietnam', CAST(N'20:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
GO
INSERT [dbo].[BOOKING_PROMOTION] ([BOOKING_ID], [PROMO_ID], [DISCOUNT_AMOUNT], [FINAL_PRICE], [APPLIED_AT], [STATUS]) VALUES (18, 2, CAST(381741.00 AS Decimal(18, 2)), CAST(2163199.00 AS Decimal(18, 2)), CAST(N'2025-10-31T02:38:10.730' AS DateTime), N'Applied')
GO
SET IDENTITY_INSERT [dbo].[CAR] ON 

INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (1, 1, 1, N'Mitsubishi Xpander', N'Mitsubishi', 2021, N'30F-45678', N'5', N'hybrid', N'electric', CAST(728000.00 AS Decimal(10, 2)), N'A compact sedan that’s easy to drive and perfect for daily use in Vietnam’s busy streets. Smooth, fuel-efficient, and great for short family trips or weekend rides.
', 1, N'12 Nguyen Van Bao Street, Go Vap District, Ho Chi Minh City, Vietnam')
INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (2, 1, 2, N'Vinfast Fadil', N'Vinfast', 2022, N'51H-99876', N'7', N'Automatic', N'Gasoline', CAST(988000.00 AS Decimal(10, 2)), N'A spacious SUV designed for comfort and safety on long journeys. Ideal for families who love road trips and need extra luggage space.
', 1, N'45 Tran Hung Dao Street, Hoan Kiem District, Ha Noi, Vietnam')
INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (3, 1, 2, N'Suzuki Ertiga', N'Suzuki', 2020, N'30F-88888', N'5', N'Automatic', N'Gasoline', CAST(936000.00 AS Decimal(10, 2)), N'A manual sedan offering full control and a fun driving experience. Reliable and efficient for both city roads and countryside travel.
', 1, N'89 Le Loi Street, District 1, Ho Chi Minh City, Vietnam')
SET IDENTITY_INSERT [dbo].[CAR] OFF
GO
SET IDENTITY_INSERT [dbo].[CAR_IMAGE] ON 

INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (1, 30, N'/images/cars/image_30.jpg')
INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (2, 32, N'/images/cars/image_32.jpg')
INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (3, 29, N'/images/cars/image_29.jpg')
SET IDENTITY_INSERT [dbo].[CAR_IMAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[CAR_TYPE] ON 

INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (1, N'SUV', N'Xe th? thao da d?ng')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (2, N'Sedan', N'Xe 4 ch? nh? g?n')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (3, N'Truck', N'Xe t?i nh?')
SET IDENTITY_INSERT [dbo].[CAR_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] ON 

INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL]) VALUES (2, 2, N'B987654321', CAST(N'2022-05-10' AS Date), CAST(N'2032-05-10' AS Date), N'https://example.com/license/user2.jpg', NULL)
INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL]) VALUES (3, 3, N'123456789555', CAST(N'2025-10-21' AS Date), CAST(N'2025-10-28' AS Date), N'/images/license/MAD btvn2-10.png', N'/images/license/Untitled.png')
INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL]) VALUES (4, 1, N'123456789559', CAST(N'2020-10-20' AS Date), CAST(N'2028-10-20' AS Date), N'/images/license/14-10.png', N'/images/license/HE190527-LuuKhanhHung.png')
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] OFF
GO
SET IDENTITY_INSERT [dbo].[MESSAGE] ON 

INSERT [dbo].[MESSAGE] ([MESSAGE_ID], [TICKET_ID], [SENDER_ID], [CONTENT], [SENT_AT]) VALUES (1, 1, 1, N'Xin chào, tôi c?n h? tr? thanh toán.', CAST(N'2025-10-07T00:52:16.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[MESSAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (1, 3, N'BOOKING_PENDING', N'Your car booking has been received!', N'Your car booking has been received! Please wait for the Owner to approve it.', N'/owner/myBooking?id=50', CAST(N'2025-11-07T00:47:25.617' AS DateTime), 1)
INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (2, 1, N'BOOKING_NEW', N'New car booking request!', N'A new booking has been made for Mitsubishi Xpander. Please review the request.', N'/owner/ownerBooking?id=50', CAST(N'2025-11-07T00:47:25.643' AS DateTime), 1)
INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (3, 3, N'BOOKING_PAID', N'Payment Successful!', N'Your payment for MG5 Luxury has been confirmed. Enjoy your trip!', N'/customer/customerOrder?id=45', CAST(N'2025-11-07T01:02:23.017' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (8, 1, CAST(80.77 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-27T17:03:04.670' AS DateTime), N'PAYID-ND7UGSY2SX78366T8476901S')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (9, 5, CAST(80.77 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-28T00:06:39.297' AS DateTime), N'PAYID-ND72MEA45M31394RT020953X')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (10, 7, CAST(69.23 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-30T10:40:26.137' AS DateTime), N'PAYID-NEBN3YY819842660C184294N')
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PROMOTION] ON 

INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE], [DISCOUNT_TYPE], [ACTIVE]) VALUES (1, N'SUMMER24', N'Gi?m giá mùa hè', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date), N'MuaHe', 1)
INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE], [DISCOUNT_TYPE], [ACTIVE]) VALUES (2, N'NEWUSER', N'Gi?m 15% cho ngu?i dùng m?i', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), N'New', 1)
SET IDENTITY_INSERT [dbo].[PROMOTION] OFF
GO
SET IDENTITY_INSERT [dbo].[REVIEW] ON 

INSERT [dbo].[REVIEW] ([REVIEW_ID], [BOOKING_ID], [RATING], [COMMENT], [CREATED_AT]) VALUES (1, 68, 4, N'good', CAST(N'2025-11-07T23:30:47.760' AS DateTime))
INSERT [dbo].[REVIEW] ([REVIEW_ID], [BOOKING_ID], [RATING], [COMMENT], [CREATED_AT]) VALUES (2, 51, 2, N'', CAST(N'2025-11-07T23:51:41.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[REVIEW] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (1, N'Admin')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (3, N'Car Owner')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ON 

INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (1, 1, N'Tôi dã thanh toán nhung chua th?y xác nh?n.', CAST(N'2025-10-07T00:51:57.620' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (7, NULL, N'huuuhu', CAST(N'2025-10-28T13:42:21.060' AS DateTime), N'0966506023', N'customer@gmail.com', N'Hưng Lưu', NULL)
INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (8, NULL, N'123', CAST(N'2025-10-28T13:44:14.340' AS DateTime), N'0966506023', N'luukhanhhung.2405@gmail.com', N'Hưng Lưu', NULL)
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (1, 2, N'carowner@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (2, 1, N'admin@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (3, 3, N'customer@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_PROFILE] ON 

INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (1, 1, N'Admin User', N'0123456789', CAST(N'1990-01-01' AS Date), N'Male', N'29A12345', 0, N'/images/profile/Ronaldo-Messi.jpeg')
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (2, 2, N'John Customer', N'0987654321', CAST(N'1995-03-15' AS Date), N'Male', N'51A23456', 1, NULL)
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (3, 3, N'sái đạt', N'0966544445', CAST(N'2006-10-20' AS Date), N'Female', N'B21234567878', 0, N'/images/profile/Messi.jpeg')
SET IDENTITY_INSERT [dbo].[USER_PROFILE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR__14ED5A9EC321C8A8]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[CAR] ADD  CONSTRAINT [UQ__CAR__14ED5A9EC321C8A8] UNIQUE NONCLUSTERED 
(
	[LICENSE_PLATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR_TYPE__D9C1FA00D3C40C8E]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[CAR_TYPE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DRIVER_L__F3BEEBFE79F52881]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[DRIVER_LICENSE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PAYMENT__C1EBE7B2ECAAC053]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[PAYMENT] ADD UNIQUE NONCLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROMOTIO__AA1D437997DC4AE7]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[PROMOTION] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLE__D9C1FA00BDF6CF20]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[ROLE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__161CF7242730D6F9]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_PRO__F3BEEBFE1ABEC57F]    Script Date: 11/8/2025 1:04:47 AM ******/
ALTER TABLE [dbo].[USER_PROFILE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  DEFAULT ((0)) FOR [DISCOUNT_AMOUNT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  DEFAULT ((0)) FOR [FINAL_PRICE]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  DEFAULT (getdate()) FOR [APPLIED_AT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  DEFAULT ('Applied') FOR [STATUS]
GO
ALTER TABLE [dbo].[CAR] ADD  CONSTRAINT [DF__CAR__AVAILABILIT__5070F446]  DEFAULT ((1)) FOR [AVAILABILITY]
GO
ALTER TABLE [dbo].[MESSAGE] ADD  DEFAULT (getdate()) FOR [SENT_AT]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [PAID_AT]
GO
ALTER TABLE [dbo].[PROMOTION] ADD  DEFAULT ('percent') FOR [DISCOUNT_TYPE]
GO
ALTER TABLE [dbo].[PROMOTION] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] ADD  CONSTRAINT [DF__SUPPORT_T__CREAT__6C190EBB]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((0)) FOR [IS_EMAIL_VERIFIED]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER_PROFILE] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING__CAR_ID__5EBF139D] FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK__BOOKING__CAR_ID__5EBF139D]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD FOREIGN KEY([PROMO_ID])
REFERENCES [dbo].[PROMOTION] ([PROMO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FK__CAR__OWNER_ID__5165187F] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FK__CAR__OWNER_ID__5165187F]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FK__CAR__TYPE_ID__52593CB8] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CAR_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FK__CAR__TYPE_ID__52593CB8]
GO
ALTER TABLE [dbo].[CAR_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK__CAR_IMAGE__CAR_I__5535A963] FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR_IMAGE] CHECK CONSTRAINT [FK__CAR_IMAGE__CAR_I__5535A963]
GO
ALTER TABLE [dbo].[DRIVER_LICENSE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK__MESSAGE__TICKET___7A672E12] FOREIGN KEY([TICKET_ID])
REFERENCES [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK__MESSAGE__TICKET___7A672E12]
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[NOTIFICATION] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK__SUPPORT_T__USER___7E37BEF6] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] CHECK CONSTRAINT [FK__SUPPORT_T__USER___7E37BEF6]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CHK_BOOKING_DATES] CHECK  (([END_DATE]>[START_DATE]))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CHK_BOOKING_DATES]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD CHECK  (([TOTAL_PRICE]>=(0)))
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_STATUS] CHECK  (([STATUS]='Cancelled' OR [STATUS]='Completed' OR [STATUS]='Rejected' OR [STATUS]='Approved' OR [STATUS]='Pending' OR [STATUS]='Paid' OR [STATUS]='Returning'))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CK_BOOKING_STATUS]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [CK__CAR__PRICE_PER_D__4F7CD00D] CHECK  (([PRICE_PER_DAY]>(0)))
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [CK__CAR__PRICE_PER_D__4F7CD00D]
GO
ALTER TABLE [dbo].[PROMOTION]  WITH CHECK ADD CHECK  (([DISCOUNT_RATE]>=(0) AND [DISCOUNT_RATE]<=(100)))
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
