USE [master]
GO
/****** Object:  Database [CarRentalDB]    Script Date: 11/22/2025 3:30:19 PM ******/
CREATE DATABASE [CarRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarRentalDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[CHAT_CONVERSATION]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_CONVERSATION](
	[conversation_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_id] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[last_message_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_MESSAGE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_MESSAGE](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[metadata] [nvarchar](max) NULL,
	[tokens_used] [int] NULL,
	[response_time_ms] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ChatbotStats]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ChatbotStats] AS
SELECT 
    CAST(cc.created_at AS DATE) AS conversation_date,
    COUNT(DISTINCT cc.conversation_id) AS total_conversations,
    COUNT(DISTINCT cc.user_id) AS unique_users,
    COUNT(cm.message_id) AS total_messages,
    AVG(CAST(cm.response_time_ms AS FLOAT)) AS avg_response_time_ms,
    SUM(cm.tokens_used) AS total_tokens_used
FROM [dbo].[CHAT_CONVERSATION] cc
LEFT JOIN [dbo].[CHAT_MESSAGE] cm ON cc.conversation_id = cm.conversation_id
GROUP BY CAST(cc.created_at AS DATE);
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ADDRESS_LINE] [nvarchar](255) NULL,
	[CITY] [nvarchar](100) NULL,
	[PROVINCE] [nvarchar](100) NULL,
	[POSTAL_CODE] [nvarchar](20) NULL,
	[COUNTRY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BOOKING_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[LOCATION] [nvarchar](255) NULL,
	[PICKUP_TIME] [time](7) NULL,
	[DROPOFF_TIME] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_PROMOTION]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_PROMOTION](
	[BOOKING_ID] [int] NOT NULL,
	[PROMO_ID] [int] NOT NULL,
	[DISCOUNT_AMOUNT] [decimal](18, 2) NULL,
	[FINAL_PRICE] [decimal](18, 2) NULL,
	[APPLIED_AT] [datetime] NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK__BOOKING___B84C5232E6BEFA56] PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC,
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[CAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[MODEL] [nvarchar](100) NULL,
	[BRAND] [nvarchar](100) NULL,
	[YEAR] [int] NULL,
	[LICENSE_PLATE] [nvarchar](50) NOT NULL,
	[CAPACITY] [nvarchar](50) NULL,
	[TRANSMISSION] [nvarchar](50) NULL,
	[FUEL_TYPE] [nvarchar](50) NULL,
	[PRICE_PER_DAY] [decimal](10, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[AVAILABILITY] [bit] NULL,
	[LOCATION] [nvarchar](max) NULL,
 CONSTRAINT [PK__CAR__7D16AF24C5036F06] PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_IMAGE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_IMAGE](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[IMAGE_URL] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TYPE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATBOT_ANALYTICS]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATBOT_ANALYTICS](
	[analytics_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[message_id] [int] NULL,
	[intent] [nvarchar](50) NULL,
	[was_helpful] [bit] NULL,
	[user_feedback] [nvarchar](max) NULL,
	[response_time_ms] [int] NULL,
	[tokens_used] [int] NULL,
	[error_occurred] [bit] NOT NULL,
	[error_message] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[analytics_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATBOT_CONFIG]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATBOT_CONFIG](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[config_key] [nvarchar](100) NOT NULL,
	[config_value] [nvarchar](max) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRIVER_LICENSE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVER_LICENSE](
	[LICENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LICENSE_NUMBER] [nvarchar](50) NOT NULL,
	[ISSUE_DATE] [date] NOT NULL,
	[EXPIRY_DATE] [date] NOT NULL,
	[FRONT_IMAGE_URL] [nvarchar](255) NULL,
	[BACK_IMAGE_URL] [varchar](500) NULL,
	[CLASS] [varchar](50) NULL,
	[NATIONALITY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LICENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVOURITE_CAR]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVOURITE_CAR](
	[FAVOURITE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CAR_ID] [int] NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_FAVOURITE_CAR] PRIMARY KEY CLUSTERED 
(
	[FAVOURITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[PAYMENT_ID] [int] NULL,
	[INVOICE_NUMBER] [nvarchar](50) NOT NULL,
	[ISSUE_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NULL,
	[TOTAL_AMOUNT] [decimal](10, 2) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
	[NOTES] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[NOTIFICATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[CONTENT] [nvarchar](500) NOT NULL,
	[LINK_URL] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[IS_READ] [bit] NOT NULL,
 CONSTRAINT [PK__NOTIFICA__83A4A446941D18C5] PRIMARY KEY CLUSTERED 
(
	[NOTIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[METHOD] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
	[PAID_AT] [datetime] NULL,
	[PAYPAL_TRANSACTION_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[PROMO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[DISCOUNT_RATE] [decimal](5, 2) NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[DISCOUNT_TYPE] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK__PROMOTIO__9A7B58163669671C] PRIMARY KEY CLUSTERED 
(
	[PROMO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[RATING] [int] NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_TICKET_REQUIREMENT]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT](
	[TICKET_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[PHONE_NUMBER] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK__SUPPORT___7F5E71D68F7292D8] PRIMARY KEY CLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[IS_EMAIL_VERIFIED] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[PROFILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[GENDER] [nvarchar](10) NULL,
	[DRIVER_LICENSE_NUMBER] [nvarchar](50) NULL,
	[IS_VERIFIED] [bit] NULL,
	[profileImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (1, 1, N'123 Lê L?i', N'Hà N?i', N'Hà N?i', N'10000', N'Vietnam')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (2, 2, N'45 Nguy?n Hu?', N'H? Chí Minh', N'H? Chí Minh', N'70000', N'Vietnam')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [USER_ID], [ADDRESS_LINE], [CITY], [PROVINCE], [POSTAL_CODE], [COUNTRY]) VALUES (4, 25, N'Hanoi', N'Ha Noi', N'Ha Noi', N'100000', N'Vietnam')
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (1, 1, 3, CAST(N'2025-12-25' AS Date), CAST(N'2025-12-28' AS Date), CAST(2100000.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-10-27T16:59:51.563' AS DateTime), N'12 Đường Nguyễn Văn Bảo, Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam', CAST(N'22:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (2, 2, 3, CAST(N'2025-12-20' AS Date), CAST(N'2025-12-28' AS Date), CAST(7600000.00 AS Decimal(10, 2)), N'Cancelled', CAST(N'2025-10-27T17:00:44.770' AS DateTime), N'45 Đường Trần Hưng Đạo, Quận Hoàn Kiếm, Hà Nội, Việt Nam', CAST(N'21:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[BOOKING] ([BOOKING_ID], [CAR_ID], [USER_ID], [START_DATE], [END_DATE], [TOTAL_PRICE], [STATUS], [CREATED_AT], [LOCATION], [PICKUP_TIME], [DROPOFF_TIME]) VALUES (4, 6, 3, CAST(N'2025-12-25' AS Date), CAST(N'2025-12-28' AS Date), CAST(4221561.00 AS Decimal(10, 2)), N'Cancelled', CAST(N'2025-10-27T23:16:23.313' AS DateTime), N'56 Đường Bạch Đằng, Quận Hải Châu, Đà Nẵng, Việt Nam', CAST(N'20:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
GO
INSERT [dbo].[BOOKING_PROMOTION] ([BOOKING_ID], [PROMO_ID], [DISCOUNT_AMOUNT], [FINAL_PRICE], [APPLIED_AT], [STATUS]) VALUES (34, 9, CAST(579280.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-11-15T21:32:13.233' AS DateTime), N'Applied')
INSERT [dbo].[BOOKING_PROMOTION] ([BOOKING_ID], [PROMO_ID], [DISCOUNT_AMOUNT], [FINAL_PRICE], [APPLIED_AT], [STATUS]) VALUES (35, 4, CAST(1418040.00 AS Decimal(18, 2)), CAST(3308760.00 AS Decimal(18, 2)), CAST(N'2025-11-15T23:02:42.097' AS DateTime), N'Applied')
INSERT [dbo].[BOOKING_PROMOTION] ([BOOKING_ID], [PROMO_ID], [DISCOUNT_AMOUNT], [FINAL_PRICE], [APPLIED_AT], [STATUS]) VALUES (36, 10, CAST(2644153.20 AS Decimal(18, 2)), CAST(2646.80 AS Decimal(18, 2)), CAST(N'2025-11-16T01:06:20.633' AS DateTime), N'Applied')
GO
SET IDENTITY_INSERT [dbo].[CAR] ON 

INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (1, 1, 1, N'Mitsubishi Xpander', N'Mitsubishi', 2021, N'30F-45678', N'5', N'hybrid', N'electric', CAST(728000.00 AS Decimal(10, 2)), N'Một chiếc sedan tiêu chuẩn đơn giản, giá cả phải chăng và dễ bảo trì. Tuyệt vời cho người thuê nhà lần đầu hoặc người đi làm trong thành phố.', 1, N'12 Đường Nguyễn Văn Bảo, Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam')
INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (2, 1, 2, N'Vinfast Fadil', N'Vinfast', 2022, N'51H-99876', N'7', N'Automatic', N'electric', CAST(988000.00 AS Decimal(10, 2)), N'Một chiếc SUV rộng rãi được thiết kế mang lại sự thoải mái và an toàn trên những chặng đường dài. Lý tưởng cho những gia đình yêu thích những chuyến đi phượt và cần thêm không gian để hành lý.', 1, N'45 Đường Trần Hưng Đạo, Quận Hoàn Kiếm, Hà Nội, Việt Nam')
INSERT [dbo].[CAR] ([CAR_ID], [USER_ID], [TYPE_ID], [MODEL], [BRAND], [YEAR], [LICENSE_PLATE], [CAPACITY], [TRANSMISSION], [FUEL_TYPE], [PRICE_PER_DAY], [DESCRIPTION], [AVAILABILITY], [LOCATION]) VALUES (3, 1, 2, N'Suzuki Ertiga', N'Suzuki', 2020, N'30F-88888', N'5', N'Automatic', N'Gasoline', CAST(936000.00 AS Decimal(10, 2)), N'Một chiếc sedan số tay cung cấp khả năng kiểm soát hoàn toàn và trải nghiệm lái xe thú vị. Đáng tin cậy và hiệu quả cho cả đường thành phố và du lịch nông thôn.', 1, N'89 Đường Lê Lợi, Quận 1, TP. Hồ Chí Minh, Việt Nam')
SET IDENTITY_INSERT [dbo].[CAR] OFF
GO
SET IDENTITY_INSERT [dbo].[CAR_IMAGE] ON 

INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (1, 30, N'/images/cars/image_30.jpg')
INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (2, 32, N'/images/cars/image_32.jpg')
INSERT [dbo].[CAR_IMAGE] ([IMAGE_ID], [CAR_ID], [IMAGE_URL]) VALUES (3, 29, N'/images/cars/image_29.jpg')
SET IDENTITY_INSERT [dbo].[CAR_IMAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[CAR_TYPE] ON 

INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (1, N'SUV', N'Xe th? thao da d?ng')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (2, N'Sedan', N'Xe 4 ch? nh? g?n')
INSERT [dbo].[CAR_TYPE] ([TYPE_ID], [NAME], [DESCRIPTION]) VALUES (3, N'Truck', N'Xe t?i nh?')
SET IDENTITY_INSERT [dbo].[CAR_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[CHATBOT_CONFIG] ON 

INSERT [dbo].[CHATBOT_CONFIG] ([config_id], [config_key], [config_value], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'greeting_message', N'👋 Xin chào! Tôi là trợ lý AI của hệ thống thuê xe.

Tôi có thể giúp bạn:
• 🚗 Tìm và tư vấn xe phù hợp
• 📋 Hướng dẫn quy trình đặt xe
• 💰 Giải đáp về giá, khuyến mãi
• 📞 Hỗ trợ các thắc mắc khác

Bạn cần tôi hỗ trợ gì ạ?', N'Tin nhắn chào mừng khi user mở chatbot', 1, CAST(N'2025-11-21T21:55:48.773' AS DateTime), CAST(N'2025-11-21T21:55:48.773' AS DateTime))
INSERT [dbo].[CHATBOT_CONFIG] ([config_id], [config_key], [config_value], [description], [is_active], [created_at], [updated_at]) VALUES (3, N'quick_suggestions', N'[
            "Tìm xe 4 chỗ giá rẻ",
            "Xe 7 chỗ đi du lịch",
            "Cách đặt xe như thế nào?",
            "Chính sách hủy đặt xe",
            "Giấy phép lái xe cần gì?",
            "Có khuyến mãi nào không?",
            "Làm chủ xe kiếm tiền"
        ]', N'Các gợi ý nhanh hiển thị trong chatbot (JSON array)', 1, CAST(N'2025-11-21T21:55:48.780' AS DateTime), CAST(N'2025-11-21T21:55:48.780' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHATBOT_CONFIG] OFF
GO
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] ON 

INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL], [CLASS], [NATIONALITY], [ADDRESS]) VALUES (2, 2, N'B987654321', CAST(N'2022-05-10' AS Date), CAST(N'2032-05-10' AS Date), N'https://example.com/license/user2.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL], [CLASS], [NATIONALITY], [ADDRESS]) VALUES (3, 3, N'123456789555', CAST(N'2025-10-21' AS Date), CAST(N'2025-10-28' AS Date), N'/images/license/MAD btvn2-10.png', N'/images/license/Untitled.png', NULL, NULL, NULL)
INSERT [dbo].[DRIVER_LICENSE] ([LICENSE_ID], [USER_ID], [LICENSE_NUMBER], [ISSUE_DATE], [EXPIRY_DATE], [FRONT_IMAGE_URL], [BACK_IMAGE_URL], [CLASS], [NATIONALITY], [ADDRESS]) VALUES (4, 1, N'123456789559', CAST(N'2020-10-20' AS Date), CAST(N'2028-10-20' AS Date), N'/images/license/14-10.png', N'/images/license/HE190527-LuuKhanhHung.png', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DRIVER_LICENSE] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICE] ON 

INSERT [dbo].[INVOICE] ([INVOICE_ID], [BOOKING_ID], [PAYMENT_ID], [INVOICE_NUMBER], [ISSUE_DATE], [DUE_DATE], [TOTAL_AMOUNT], [STATUS], [NOTES]) VALUES (10, 9, 33, N'INV-20251109-9', CAST(N'2025-11-09T07:29:38.403' AS DateTime), CAST(N'2025-11-16T07:29:38.403' AS DateTime), CAST(1900000.00 AS Decimal(10, 2)), N'Issued', N'Thank you for your business!')
INSERT [dbo].[INVOICE] ([INVOICE_ID], [BOOKING_ID], [PAYMENT_ID], [INVOICE_NUMBER], [ISSUE_DATE], [DUE_DATE], [TOTAL_AMOUNT], [STATUS], [NOTES]) VALUES (14, 17, 37, N'INV-20251115-17', CAST(N'2025-11-15T17:23:46.867' AS DateTime), CAST(N'2025-11-22T17:23:46.867' AS DateTime), CAST(2808000.00 AS Decimal(10, 2)), N'Issued', N'Thank you for your business!')
INSERT [dbo].[INVOICE] ([INVOICE_ID], [BOOKING_ID], [PAYMENT_ID], [INVOICE_NUMBER], [ISSUE_DATE], [DUE_DATE], [TOTAL_AMOUNT], [STATUS], [NOTES]) VALUES (15, 18, 38, N'INV-20251115-18', CAST(N'2025-11-15T19:17:01.783' AS DateTime), CAST(N'2025-11-22T19:17:01.783' AS DateTime), CAST(982800.00 AS Decimal(10, 2)), N'Issued', N'Thank you for your business!')
SET IDENTITY_INSERT [dbo].[INVOICE] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (156, 3, N'BOOKING_PENDING', N'Yêu cầu thuê xe đã được gửi!', N'Yêu cầu thuê xe của bạn đã được gửi đến chủ xe. Vui lòng chờ chủ xe xác nhận..', N'/customer/customerOrder?id=17', CAST(N'2025-11-15T17:21:39.047' AS DateTime), 1)
INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (157, 1, N'BOOKING_NEW', N'Có yêu cầu thuê xe mới!', N'Bạn có yêu cầu thuê xe mới cho xe Suzuki Ertiga. Vui lòng xem chi tiết và xác nhận.', N'/owner/ownerBooking', CAST(N'2025-11-15T17:21:39.070' AS DateTime), 1)
INSERT [dbo].[NOTIFICATION] ([NOTIFICATION_ID], [USER_ID], [TYPE], [TITLE], [CONTENT], [LINK_URL], [CREATED_AT], [IS_READ]) VALUES (158, 3, N'BOOKING_APPROVED', N'Yêu cầu thuê xe được chấp nhận!', N'Yêu cầu thuê xe Suzuki Ertiga đã được chấp thuận! Vui lòng bắt đầu thanh toán.', N'/customer/customerOrder?id=17', CAST(N'2025-11-15T17:23:01.387' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (8, 1, CAST(80.77 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-27T17:03:04.670' AS DateTime), N'PAYID-ND7UGSY2SX78366T8476901S')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (9, 5, CAST(80.77 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-28T00:06:39.297' AS DateTime), N'PAYID-ND72MEA45M31394RT020953X')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [BOOKING_ID], [AMOUNT], [METHOD], [STATUS], [PAID_AT], [PAYPAL_TRANSACTION_ID]) VALUES (10, 7, CAST(69.23 AS Decimal(10, 2)), N'PayPal', N'Paid', CAST(N'2025-10-30T10:40:26.137' AS DateTime), N'PAYID-NEBN3YY819842660C184294N')
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PROMOTION] ON 

INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE], [DISCOUNT_TYPE], [ACTIVE]) VALUES (1, N'SUMMER24', N'Gi?m giá mùa hè', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date), N'MuaHe', 1)
INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE], [DISCOUNT_TYPE], [ACTIVE]) VALUES (2, N'NEWUSER', N'Giảm Giá 15% cho người dùng mới', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), N'New', 1)
INSERT [dbo].[PROMOTION] ([PROMO_ID], [CODE], [DESCRIPTION], [DISCOUNT_RATE], [START_DATE], [END_DATE], [DISCOUNT_TYPE], [ACTIVE]) VALUES (3, N'HAPPY', N'Giảm giá 10% cho dịp năm mới', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-11-10' AS Date), CAST(N'2025-12-30' AS Date), N'NewYear', 1)
SET IDENTITY_INSERT [dbo].[PROMOTION] OFF
GO
SET IDENTITY_INSERT [dbo].[REVIEW] ON 

INSERT [dbo].[REVIEW] ([REVIEW_ID], [BOOKING_ID], [RATING], [COMMENT], [CREATED_AT]) VALUES (6, 16, 5, N'Xe đẹp,chủ xe thân thiện', CAST(N'2025-11-15T11:33:34.590' AS DateTime))
INSERT [dbo].[REVIEW] ([REVIEW_ID], [BOOKING_ID], [RATING], [COMMENT], [CREATED_AT]) VALUES (7, 18, 5, N'chủ xe thân thiện,vui tính tuyệt vời', CAST(N'2025-11-15T19:16:59.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[REVIEW] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (1, N'Admin')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (2, N'Car Owner')
INSERT [dbo].[ROLE] ([ROLE_ID], [NAME]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ON 

INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (1, 1, N'Tôi dã thanh toán nhung chua th?y xác nh?n.', CAST(N'2025-10-07T00:51:57.620' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (7, NULL, N'huuuhu', CAST(N'2025-10-28T13:42:21.060' AS DateTime), N'0966506023', N'customer@gmail.com', N'Hưng Lưu', 0)
INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] ([TICKET_ID], [USER_ID], [MESSAGE], [CREATED_AT], [PHONE_NUMBER], [EMAIL], [NAME], [STATUS]) VALUES (8, NULL, N'123', CAST(N'2025-10-28T13:44:14.340' AS DateTime), N'0966506023', N'luukhanhhung.2405@gmail.com', N'Hưng Lưu', 1)
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKET_REQUIREMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (1, 2, N'carowner@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (2, 1, N'admin@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
INSERT [dbo].[USER] ([USER_ID], [ROLE_ID], [EMAIL], [PASSWORD], [IS_EMAIL_VERIFIED], [CREATED_AT], [USER_NAME]) VALUES (3, 3, N'customer@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-07T00:28:22.150' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_PROFILE] ON 

INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (1, 1, N'Admin User', N'0123456789', CAST(N'1990-01-01' AS Date), N'Male', N'29A12345', 0, N'/images/profile/Ronaldo-Messi.jpeg')
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (2, 2, N'John Customer', N'0987654321', CAST(N'1995-03-15' AS Date), N'Male', N'51A23456', 1, NULL)
INSERT [dbo].[USER_PROFILE] ([PROFILE_ID], [USER_ID], [FULL_NAME], [PHONE], [DOB], [GENDER], [DRIVER_LICENSE_NUMBER], [IS_VERIFIED], [profileImage]) VALUES (3, 3, N'sái đạt', N'0966544449', CAST(N'2000-10-20' AS Date), N'Male', N'B21234567878', 0, N'/images/profile/Messi.jpeg')
SET IDENTITY_INSERT [dbo].[USER_PROFILE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR__14ED5A9EC321C8A8]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[CAR] ADD  CONSTRAINT [UQ__CAR__14ED5A9EC321C8A8] UNIQUE NONCLUSTERED 
(
	[LICENSE_PLATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CAR_TYPE__D9C1FA00D3C40C8E]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[CAR_TYPE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHAT_CON__69B13FDDEAD2A9AF]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[CHAT_CONVERSATION] ADD UNIQUE NONCLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatConversation_LastMessage]    Script Date: 11/22/2025 3:30:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatConversation_LastMessage] ON [dbo].[CHAT_CONVERSATION]
(
	[last_message_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatConversation_SessionId]    Script Date: 11/22/2025 3:30:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatConversation_SessionId] ON [dbo].[CHAT_CONVERSATION]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatConversation_UserId]    Script Date: 11/22/2025 3:30:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatConversation_UserId] ON [dbo].[CHAT_CONVERSATION]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessage_ConversationId]    Script Date: 11/22/2025 3:30:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_ConversationId] ON [dbo].[CHAT_MESSAGE]
(
	[conversation_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatbotAnalytics_Intent]    Script Date: 11/22/2025 3:30:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatbotAnalytics_Intent] ON [dbo].[CHATBOT_ANALYTICS]
(
	[intent] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHATBOT___BDF6033DF74ED98C]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[CHATBOT_CONFIG] ADD UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DRIVER_L__F3BEEBFE79F52881]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[DRIVER_LICENSE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_USER_CAR]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[FAVOURITE_CAR] ADD  CONSTRAINT [UQ_USER_CAR] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PAYMENT__C1EBE7B2ECAAC053]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[PAYMENT] ADD UNIQUE NONCLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROMOTIO__AA1D437997DC4AE7]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[PROMOTION] ADD  CONSTRAINT [UQ__PROMOTIO__AA1D437997DC4AE7] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLE__D9C1FA00BDF6CF20]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[ROLE] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__161CF7242730D6F9]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_PRO__F3BEEBFE1ABEC57F]    Script Date: 11/22/2025 3:30:20 PM ******/
ALTER TABLE [dbo].[USER_PROFILE] ADD UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  CONSTRAINT [DF__BOOKING_P__DISCO__60A75C0F]  DEFAULT ((0)) FOR [DISCOUNT_AMOUNT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  CONSTRAINT [DF__BOOKING_P__FINAL__619B8048]  DEFAULT ((0)) FOR [FINAL_PRICE]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  CONSTRAINT [DF__BOOKING_P__APPLI__628FA481]  DEFAULT (getdate()) FOR [APPLIED_AT]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] ADD  CONSTRAINT [DF__BOOKING_P__STATU__6383C8BA]  DEFAULT ('Applied') FOR [STATUS]
GO
ALTER TABLE [dbo].[CAR] ADD  CONSTRAINT [DF__CAR__AVAILABILIT__5070F446]  DEFAULT ((1)) FOR [AVAILABILITY]
GO
ALTER TABLE [dbo].[CHAT_CONVERSATION] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHAT_CONVERSATION] ADD  DEFAULT (getdate()) FOR [last_message_at]
GO
ALTER TABLE [dbo].[CHAT_CONVERSATION] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[CHAT_MESSAGE] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS] ADD  DEFAULT ((0)) FOR [error_occurred]
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHATBOT_CONFIG] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[CHATBOT_CONFIG] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHATBOT_CONFIG] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[FAVOURITE_CAR] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  CONSTRAINT [DF__NOTIFICAT__CREAT__66603565]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  CONSTRAINT [DF__NOTIFICAT__IS_RE__6754599E]  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [PAID_AT]
GO
ALTER TABLE [dbo].[PROMOTION] ADD  CONSTRAINT [DF__PROMOTION__DISCO__6A30C649]  DEFAULT ('percent') FOR [DISCOUNT_TYPE]
GO
ALTER TABLE [dbo].[PROMOTION] ADD  CONSTRAINT [DF__PROMOTION__ACTIV__6B24EA82]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] ADD  CONSTRAINT [DF__SUPPORT_T__CREAT__6C190EBB]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((0)) FOR [IS_EMAIL_VERIFIED]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USER_PROFILE] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING__CAR_ID__5EBF139D] FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK__BOOKING__CAR_ID__5EBF139D]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING_P__BOOKI__74AE54BC] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] CHECK CONSTRAINT [FK__BOOKING_P__BOOKI__74AE54BC]
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING_P__PROMO__75A278F5] FOREIGN KEY([PROMO_ID])
REFERENCES [dbo].[PROMOTION] ([PROMO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_PROMOTION] CHECK CONSTRAINT [FK__BOOKING_P__PROMO__75A278F5]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FK__CAR__OWNER_ID__5165187F] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FK__CAR__OWNER_ID__5165187F]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FK__CAR__TYPE_ID__52593CB8] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CAR_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FK__CAR__TYPE_ID__52593CB8]
GO
ALTER TABLE [dbo].[CAR_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK__CAR_IMAGE__CAR_I__5535A963] FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAR_IMAGE] CHECK CONSTRAINT [FK__CAR_IMAGE__CAR_I__5535A963]
GO
ALTER TABLE [dbo].[CHAT_CONVERSATION]  WITH CHECK ADD  CONSTRAINT [FK_ChatConversation_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CHAT_CONVERSATION] CHECK CONSTRAINT [FK_ChatConversation_User]
GO
ALTER TABLE [dbo].[CHAT_MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_Conversation] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[CHAT_CONVERSATION] ([conversation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHAT_MESSAGE] CHECK CONSTRAINT [FK_ChatMessage_Conversation]
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS]  WITH CHECK ADD  CONSTRAINT [FK_ChatbotAnalytics_Conversation] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[CHAT_CONVERSATION] ([conversation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS] CHECK CONSTRAINT [FK_ChatbotAnalytics_Conversation]
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS]  WITH CHECK ADD  CONSTRAINT [FK_ChatbotAnalytics_Message] FOREIGN KEY([message_id])
REFERENCES [dbo].[CHAT_MESSAGE] ([message_id])
GO
ALTER TABLE [dbo].[CHATBOT_ANALYTICS] CHECK CONSTRAINT [FK_ChatbotAnalytics_Message]
GO
ALTER TABLE [dbo].[DRIVER_LICENSE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FAVOURITE_CAR]  WITH CHECK ADD  CONSTRAINT [FK_FAVOURITE_CAR] FOREIGN KEY([CAR_ID])
REFERENCES [dbo].[CAR] ([CAR_ID])
GO
ALTER TABLE [dbo].[FAVOURITE_CAR] CHECK CONSTRAINT [FK_FAVOURITE_CAR]
GO
ALTER TABLE [dbo].[FAVOURITE_CAR]  WITH CHECK ADD  CONSTRAINT [FK_FAVOURITE_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FAVOURITE_CAR] CHECK CONSTRAINT [FK_FAVOURITE_USER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([PAYMENT_ID])
REFERENCES [dbo].[PAYMENT] ([PAYMENT_ID])
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[NOTIFICATION] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([BOOKING_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK__SUPPORT_T__USER___7E37BEF6] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPORT_TICKET_REQUIREMENT] CHECK CONSTRAINT [FK__SUPPORT_T__USER___7E37BEF6]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CHK_BOOKING_DATES] CHECK  (([END_DATE]>[START_DATE]))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CHK_BOOKING_DATES]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD CHECK  (([TOTAL_PRICE]>=(0)))
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_STATUS] CHECK  (([STATUS]='Cancelled' OR [STATUS]='Completed' OR [STATUS]='Rejected' OR [STATUS]='Approved' OR [STATUS]='Pending' OR [STATUS]='Paid' OR [STATUS]='Returning'))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CK_BOOKING_STATUS]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [CK__CAR__PRICE_PER_D__4F7CD00D] CHECK  (([PRICE_PER_DAY]>(0)))
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [CK__CAR__PRICE_PER_D__4F7CD00D]
GO
ALTER TABLE [dbo].[CHAT_MESSAGE]  WITH CHECK ADD  CONSTRAINT [CK_ChatMessage_Role] CHECK  (([role]='assistant' OR [role]='user'))
GO
ALTER TABLE [dbo].[CHAT_MESSAGE] CHECK CONSTRAINT [CK_ChatMessage_Role]
GO
ALTER TABLE [dbo].[PROMOTION]  WITH CHECK ADD  CONSTRAINT [CK__PROMOTION__DISCO__05D8E0BE] CHECK  (([DISCOUNT_RATE]>=(0) AND [DISCOUNT_RATE]<=(100)))
GO
ALTER TABLE [dbo].[PROMOTION] CHECK CONSTRAINT [CK__PROMOTION__DISCO__05D8E0BE]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetChatHistory]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetChatHistory]
    @session_id NVARCHAR(255),
    @limit INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@limit)
        cm.message_id,
        cm.role,
        cm.content,
        cm.created_at,
        cm.metadata
    FROM [dbo].[CHAT_MESSAGE] cm
    INNER JOIN [dbo].[CHAT_CONVERSATION] cc 
        ON cm.conversation_id = cc.conversation_id
    WHERE cc.session_id = @session_id
        AND cc.is_active = 1
    ORDER BY cm.created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveChatMessage]    Script Date: 11/22/2025 3:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveChatMessage]
    @session_id NVARCHAR(255),
    @user_id INT = NULL,
    @role NVARCHAR(20),
    @content NVARCHAR(MAX),
    @metadata NVARCHAR(MAX) = NULL,
    @tokens_used INT = NULL,
    @response_time_ms INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @conversation_id INT;
    
    -- Kiểm tra conversation có tồn tại chưa
    SELECT @conversation_id = conversation_id 
    FROM [dbo].[CHAT_CONVERSATION]
    WHERE session_id = @session_id AND is_active = 1;
    
    -- Nếu chưa có, tạo mới
    IF @conversation_id IS NULL
    BEGIN
        INSERT INTO [dbo].[CHAT_CONVERSATION] (user_id, session_id)
        VALUES (@user_id, @session_id);
        
        SET @conversation_id = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Update last_message_at
        UPDATE [dbo].[CHAT_CONVERSATION]
        SET last_message_at = GETDATE(),
            user_id = ISNULL(@user_id, user_id) -- Update user_id nếu guest login
        WHERE conversation_id = @conversation_id;
    END
    
    -- Lưu message
    INSERT INTO [dbo].[CHAT_MESSAGE] 
        (conversation_id, role, content, metadata, tokens_used, response_time_ms)
    VALUES 
        (@conversation_id, @role, @content, @metadata, @tokens_used, @response_time_ms);
    
    -- Return message_id vừa tạo
    SELECT SCOPE_IDENTITY() AS message_id, @conversation_id AS conversation_id;
END
GO
USE [master]
GO
